:host {
  display: block;
  position: absolute;
  margin: 7em 15em;
  background-color: rgb(42, 123, 150);
  width: 500px;
  border-radius: 15px;
}

.modal--close-btn {
  position: absolute;
  top: -15px;
  right: -13px;
  font-size: 18px;
  color: #d74840;
  background-color: #ebe084;
  padding: 8px 10px;
  border-radius: 30px;
}

.text {
  font-size: 25px;
  text-align: center;
}

.button-container {
  text-align: center;
  margin-bottom: 2em;
}

.app-button {
  width: 40%;
}

