:host {
  display: block;
  width: 300px;
  margin: auto;
  padding-top: 10em;
}

.logo {
  width: 50%;
  margin: auto;
}

.header-text {
  width: 80%;
  margin: auto;
}

.input-container {
  margin: 35px 0px;
}

.input-values {
  border: none;
  border-radius: 5px;
  width: 287px;
  padding-left: 10px;
  font-size: 20px;
  color: grey;
  height: 35px;
  margin-top: 5px;
}

/* .input-values.ng-invalid{
  border: 1px solid red;
} */

.add-button-container {
  margin-top: 60px;
  height: 35px;
}
