.players-names{
  width: 200px;
}

.playing-zone{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.playing-units-container{
  display: flex;
}

.game-interface-container{
  border-bottom: solid 1px lightskyblue;
}

.dart-throwings-container{
  margin-top: 8px;
}
.dart-number{
  margin-top: 40px;
}

.add-score-button-container{
  width: 40%;
  height: 40px;
  margin:auto;
  padding: 3em 0;
}

.playing-units-container{
  display: flex;
}
