<div class="game-interface-container">
  <div class="playing-zone">
      <div class="dart-throwings-container">
          <div class="text dart-number">dart 1</div>
          <div class="text dart-number">dart 2</div>
          <div class="text dart-number">dart 3</div>
      </div>
      <div class="playing-units-container">
        <!-- <app-playing-units [gameUnits]="gameUnits"></app-playing-units> -->
        <form action="" [formGroup]="form">
          <app-unit [gameUnits]="gameUnits"></app-unit>
        </form>
        <!-- <app-unit [gameUnits]="gameUnits"></app-unit> -->
      </div>
  </div>
  <div class="add-score-button-container">
      <button class="app-button add-button" (click)="countPoints()">Add</button>
  </div>
</div>

<!-- {{ playingUnitsForm | json }} -->




