* {
    box-sizing: border-box;
  }

  /* :host{
    background-color: #039be6;
  } */
  
  body {
    background: gray;
  }
  
  .fg--search {
    background: white;
    position: relative;
    width: 50%;
    border-radius: 5px;
  }
  
  .fg--search input {
    width: 100%;
    padding: 10px 30px 10px 10px;
    display: block;
    /* border-radius: 3px; */
  }
  
  .fg--search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 10px;
    z-index: 2;
    /* border-radius: 5px; */
  }
  
  .fg--search input:focus + button .fa-search {
    color: red;
  }

  .text ::placeholder{
    font-family: Arial, sans-serif;
    
  }

  .header-label{
    color: white;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Arial, sans-serif;
  }

  .lobby-header-buttons {
      display: flex;
      margin-bottom: 10px;
      padding: 0 -5px;
      background-color: #039be6 ;
  }

  .search-input{
    /* border: none; */
    border: none; /* <-- This thing here */
      border:solid 1px #ccc;
    border-radius: 5px;
  }

  .create-player-button-container{
    width: 50%;
    margin-left: 5px;
  }

  .player-unit {
      display: flex;
      border-bottom: 1px solid #039be6;
      /* flex-grow: 1; */
      /* justify-content: space-between; */
  }

  .lobby-container{
    /* width: 30%; */
    width: 20%;
    margin: auto;
    padding-top: 10em;
  }

  .create-player{
    height: 100%;
    width: 100%;
  }
  
  .players-board {
    background-color: #ffff;
    /* width: 30%; */
  }
  .item {
    width: 200px;
    margin-left: 20px;
    font-family: Arial, sans-serif;
  }

  .player-name{
    /* width:50%; */
    flex-grow: 2;
  }

  .player-mail{
    /* width: 40%; */
    flex-grow: 2;
  }

  .create-button {
    height: 100%;
    width: 100%;
    background-color: #ffd727;
    border: none;
    border-radius: 3px;
    /* font-family: Arial, sans-serif; */
  }

  /* .fa-times{
    margin: auto;
  } */

  .delete-icon-container{
    padding: 15px;
  }
  
  .start-button{
    background-color: #37bf97;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    color: #82e5c9;
    font-size: 20px;
  }

  .start-button-container{
    height: 40px;
  }

  ::placeholder{
    font-size: 15px;
    font-weight:normal;
  }
  .player-unit:last-child{
    /* background-color: black; */
  }