:host {
  width: 500px;
  display: block;
  margin: auto;
  padding-top: 10em;
}

* {
    box-sizing: border-box;
}

body {
    background: gray;
}

.fg--search {
  background: white;
  position: relative;
  width: 50%;
  border-radius: 5px;
}

.fg--search input {
  width: 100%;
  padding: 10px 30px 10px 10px;
  display: block;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 10px;
  z-index: 2;
}

.fa-search {
  color: grey;
}

.fg--search input:focus + button .fa-search {
  color: black;
}

.text ::placeholder {
  font-family: Arial, sans-serif;
}

.header-label {
  color: white;
  font-family: Arial, sans-serif;
}

.lobby-header-buttons {
  display: flex;
  margin-bottom: 10px;
  padding: 0 -5px;
  background-color: #039be6 ;
}

.search-input {
  border: none;
  border:solid 1px #ccc;
  border-radius: 5px;
}

.create-player-button-container {
  width: 50%;
  margin-left: 5px;
}

.player-unit {
  display: flex;
  background-color: #ffff;
  border-bottom: 1px solid #039be6;
}

.create-player {
  height: 100%;
  width: 100%;
}

.item {
  width: 200px;
  margin-left: 20px;
  font-family: Arial, sans-serif;
}

.player-name {
  flex-grow: 2;
}

.player-mail {
  flex-grow: 2;
}

.delete-icon-container {
  width: 50px;
  height: 50px;
}

.delete-image {
  width: 100%;
  height: 100%;
}

.delete-icon-container {
  padding: 15px;
}

.fas {
  color: grey;
}

.start-button {
  background-color: #37bf97;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
  color: #82e5c9;
  font-size: 20px;
  cursor: pointer;
}

::placeholder {
  font-size: 15px;
  font-weight:normal;
}

