:host {
  display: block;
  padding-top: 2em;
  border-top: solid 1px lightskyblue;
  width:90%;
}

.move-counter-container {
  width: 10%;
  padding-top: 28.4px;
}

.name-container {
  width:170px;
  text-align: center;
  padding-bottom: 10px;
}

.one-move-row-container {
  display: flex;
  background-color: seashell;
  justify-content: space-around;
  border-bottom: 1px solid #039be6;
}

.move-number {
  padding: 5px 0;
  width: 10%;
  text-align: center;
}

.one-move-row-container :first-child {
  background-color: #039be6;
}

.points-container {
  text-align: center;
  padding: 5px 0;
  flex-grow: 1;
}

.players-name-container {
  display: flex;
  padding-left: 6em;
  justify-content: space-around;
}
