<div class="move-counter-container">
  <div *ngFor="let item of (gameHistory |async)?.moves; index as i">
    <div class="move-number">
      <span *ngIf="i + 1 != (gameHistory |async)?.moves?.length" class="text">
        {{moveNumber - i}}
      </span>
    </div>
  </div>

</div>
<div class="dashboard-info-container">
  <div class="players-name-container">
    <div *ngFor="let item of getPlayers(); index as i" >
      <div class="name-container text">
        {{item.name}}
        <ng-container *ngIf="WinnerId == i">+</ng-container>
      </div>
    </div>
  </div>
  <div *ngFor="let moves of (gameHistory | async)?.moves; index as i" class="">
    <div class="one-move-row-container">
      <div *ngFor="let unit of moves.players">
        <div class="">
          {{unit.points}}
        </div>
      </div>
    </div>
  </div>
</div>
