:host{
  display: block;
  margin: 60px 0px;
}

.games{
  display: flex;
}

.game-item{
  width: 20%;
  height: 100px;
  background-color: white;
  border-radius: 100%;
  margin-right: 20px;
}

.game-name{
  width: auto;
  height: auto;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
}

.set-color{
  color: rgb(216, 56, 149);
}

.game-item:hover{
  background-color: lightgrey;
}

.game-item:active{
  background-color: grey;
}

.active{
  background-color: grey;
}
