.games{
    display: flex;
}

.games-choosing-container{
    margin: 60px 0px;
}

.game-item{
    width: 20%;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin-right: 20px;
}

.game-name {
    width: auto;
    height: auto;
    margin-left: 30px;
    /* margin-top: -20px; */
    font-size: 30px;
    font-weight: bold;
}

.choose-game-label{
    color: white;
    font-family: Arial, sans-serif;
}